.App {

}

.App-logo {
  background-image: url('space-logo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.App-header {
  text-align: center;
}

.App-body {
  padding: 15px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.social-links {
  font-size: 26px;
}
