.App {

}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-body {
  padding: 15px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
